@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: white;
    
}

body, html::-webkit-scrollbar{
    height: 0px;

}

header{
    background-color: rgba(228, 166, 84, 0.055);
}

nav{
    text-align: right;
    background-color: rgba(0, 0, 255, 0.432);
    border-radius: 0px 0px 10px 10px;
}
nav > a > img{
    width: 45px;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 2px 2px 5px black;
    
}

nav > a > img:hover{
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.432);
    transition: 0.5s;
    transform: translate(-2px, -2px);
}

nav > a > img.github:hover{
    border: 2px solid green;
}

nav > a > img.instagram:hover{
    border:2px solid rgb(133, 7, 133) ;
}

main{
    margin-top: 10px;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    border-radius: 10px;
}

main h1{
    padding-top: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.842);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}

main h2{
    padding-top: 35px;
    padding-left: 10px;

}


main p{
    line-height: 1.5em;
    padding-top: 10px;
    margin-left: 15px;
    width: 90vw;
    text-align: justify;
    
}

main > div > img{  /*minha foto*/
    display: block;
    width: 170px;
    border-radius: 50%;
    margin: auto;

}

div > ul{
    list-style-position: inside;
    list-style-type: none;
    margin-top: 20px;
}

div > ul > li{
   width: 200px;
   border: 1px solid black;
   margin-left: 20px;
   padding: 10px;
   margin-top: 10px;
   border-radius: 20px;
   background-color: black;
   text-align: center;
}

div > ul > li.cor1:hover{
    background-color: #85ADF2;
    transition: 0.5s;
}

div > ul > li.cor2:hover{
    background-color: #2C9F60;  
    transition: 0.5s;
}

div > ul > li.cor3:hover{
    background-color: #FAB301;
    transition: 0.5s;
}

div > ul > li > a{
    text-decoration: none;
    color: white;
    
    
}

section{
    margin: 5px 0px 0px 50px;

}

table{
    display: block;
    margin: auto;
    width: 400px;
    border-collapse: collapse;
}

caption{
    font-weight: bolder;
    font-size: 2em;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}
td:nth-child(even){
    background-color: #85ADF2;
}

