@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    
}

header{
    height: 60px;
    

}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
}

nav > a > img{
    margin-top: 5px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.432);
}

nav > a > img:hover{
    border: 2px solid bl;
    transform: translate(-5%, -5%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.623);
}

main{
    height: 89vh;
    width: 100vw;
    margin: auto;
    background-color: white;
    
}

section{
    
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 300px;
    background-color: white;
    margin: 10px auto 0px auto;
    box-shadow: 3px 3px 3px 8px solid rgba(0, 0, 0, 0.575);
}

section > div >img{
    margin: auto;
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

section > div > p{
    line-height: 1.4em;
   text-align: justify;
}

aside {
    
    width: 90vw;
    height: 300px;
    background-color:white;
    margin: auto;
}

aside h2{
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 200;
}

aside ul{
    display: flex;
    justify-content: space-evenly;
     list-style-type: none;
    list-style-position: inside;
    
   
}

aside > ul > li{
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(204, 15, 15);
    border-radius: 20px;
}

aside > ul > li > a{
    text-decoration: none;
    color: black;
}

aside > ul > li > a:hover{
    text-decoration: underline;
}


 table{
    border-collapse: collapse;
    margin: 10px auto;
    width: 400px;
    
}

table td{
   text-align: center;
}


th, td{
    border: 1px solid black;
}

